@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: #C5B4AA;

    --text-primary: #222222;
    --text-secondary: #5a4d44;
    --text-inverse: #ffffff;

    --accent-bg: #a68c7c;

    --primary-color: #d9895b;
    --primary-hover: #A96137;

    --card-bg: #f2ebe8;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--body-bg);
    color: var(--text-primary);
}

header {
    background-color: var(--primary-color);
    height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header a {
    text-decoration: none;
    color: var(--text-primary);
}

.logo {
    display: flex;
    align-items: center;
    font-variant: small-caps;
}

.menu {
    display: flex;
    align-items: stretch;
}

.menu ul {
    list-style: none;
    display: flex;
    height: 100%;
}

.menu li {
    height: 100%;
    display: flex;
}

.menu a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
    padding-top: 7px;
    border-bottom: 5px solid transparent;
    transition: background-color .3s, color .3s;
}

.menu a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
    border-bottom:5px solid var(--text-primary);
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: black;
}

.slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    z-index: 0;
}

.slide-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 1;
}

.slide-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    color: var(--text-inverse);
}

.slide-content h1 {
    font-size: 3em;
    margin-bottom: .5em;
    text-shadow: 0px 2px 10px rgb(0, 0, 0, .5);
    font-variant: small-caps;
}

.slide-content p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    text-shadow: 0px 1px 5px rgb(0, 0, 0, .5);
}

.slide-content a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 10px 20px;
    font-weight: bold;
    font-variant: small-caps;
    transition: background-color .3s, color .3s;
}

.slide-content a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.category-tag {
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 5px 15px;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 2em;
    display: inline-block;
    font-weight: bold;
}

.slide-img-1 {
    background-image: url('../imagens/aurora-pes.jpeg');
    animation: slideCycle 21s infinite 0s;
}

.slide-img-2 {
    background-image: url('../imagens/aurora-pensamento.jpeg');
    animation: slideCycle 21s infinite 7s;
}

.slide-img-3 {
    background-image: url('../imagens/aurora-prateleira.jpeg');
    animation: slideCycle 21s infinite 14s;
}

@keyframes slideCycle {
    0% {
        opacity: 0;
        z-index: 0;
    }
    5% {
        opacity: 1; /* Aparece rápido (fade in) */
        z-index: 10; /* Traz para frente para o botão funcionar */
    }
    33% {
        opacity: 1; /* Fica visível por 5 segundos (33% de 15s) */
        z-index: 10;
    }
    38% {
        opacity: 0; /* Desaparece rápido (fade out) */
        z-index: 0; /* Vai para o fundo */
    }
    100% {
        opacity: 0; /* Continua invisível até o fim do ciclo */
        z-index: 0;
    }
}

.info {
    background-color: var(--card-bg);
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

.info .foto {
    width: 300px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border:5px solid var(--card-bg);
    outline:5px solid var(--primary-color) ;
}

.info h2 {
    color: var(--text-secondary);
    font-size: 1.7em;
    font-variant: small-caps;
}

.info p {
    text-align: center;
}

.info a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 10px 20px;
    font-weight: bold;
    font-variant: small-caps;   
    transition: background-color .3s, color .3s; 
}

.info a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.principal {
    margin: 20px auto;
    width: 90vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

.post h2 {
    color: var(--text-secondary);
    margin-bottom: .8em;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    font-variant: small-caps;
}

.post-figure {
    margin: 0;
    margin-bottom: 1.5em;
}

.post-figure img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.post-figure figcaption {
    background-color: var(--accent-bg);
    color: var(--text-inverse);
    padding: 5px 15px;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    border-radius: 0px 0px 8px 8px;
    border-top: 3px solid var(--primary-color);
}

.post p {
    text-align: justify;
    margin-bottom: 1.5em;
}

.merch {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: var(--card-bg);
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

.product {
    display: grid;
    grid-template-rows: 70px auto auto 40px;
    align-items: center;
    justify-items: start;
    gap: 10px;
}

.product h3 {
    color: var(--text-secondary);
    margin-bottom: .5em;
    border-bottom: 2px solid var(--primary-color);
    font-variant: small-caps;
}

.product img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}

.product a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 8px 15px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;  
    transition: background-color .3s, color .3s; 
}

.product a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.copyright {
    background-color: var(--primary-color);
    color: var(--text-inverse);
    font-size: .8em;
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: var(--text-inverse);
    font-weight: bold;
}

.copyright a:hover {
    text-decoration: underline;
}