@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg: #C5B4AA;

    --text-primary: #222222;
    --text-secondary: #5a4d44;
    --text-inverse: #ffffff;

    --accent-bg: #a68c7c;

    --primary-color: #d9895b;
    --primary-hover: #A96137;

    --card-bg: #f2ebe8;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--body-bg);
    color: var(--text-primary);
}

header {
    background-color: var(--primary-color);
    height: 80px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 100;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

header a {
    text-decoration: none;
    color: var(--text-primary);
}

.menu-checkbox {
    display: none;
}

.menu-icon {
    font-size: 1.5em;
    cursor: pointer;
    display: block;
}

.logo {
    display: flex;
    align-items: center;
    font-variant: small-caps;
}

.menu {
    display: flex;
    align-items: stretch;
}

.menu ul {
    list-style: none;
    display: none;
    position: absolute;
    top: 80px;
    left: 0px;
    width: 100%;
    background-color: var(--primary-color);
    flex-direction: column;
    text-align: center;
    border-top: 1px solid rgb(0, 0, 0, .3);
}

.menu li {
    height: 100%;
    display: block;
}

.menu a {
    display: block;
    align-items: center;
    height: 100%;
    padding: 15px;
    border-bottom: 1px solid rgb(0, 0, 0, .3);
    transition: background-color .3s, color .3s;
}

.menu a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.menu-checkbox:checked ~ ul {
    display: flex;
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: black;
}

.slide-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    padding: 20px;
    padding-bottom: 30px;
    background-size: cover;
    background-position: center center;
    opacity: 0;
    z-index: 0;
}

.slide-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, .5);
    z-index: 1;
}

.slide-content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    color: var(--text-inverse);
}

.slide-content h1 {
    font-size: 2.5em;
    line-height: 2rem;
    margin-bottom: .5em;
    text-shadow: 0px 2px 10px rgb(0, 0, 0, .5);
    font-variant: small-caps;
}

.slide-content p {
    font-size: 1em;
    margin-bottom: 1.5em;
    text-shadow: 0px 1px 5px rgb(0, 0, 0, .5);
}

.slide-content a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 10px 20px;
    font-weight: bold;
    font-variant: small-caps;
    transition: background-color .3s, color .3s;
}

.slide-content a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.category-tag {
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 5px 15px;
    font-variant: small-caps;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin-bottom: 1.5em;
    display: inline-block;
    font-weight: bold;
}

.slide-img-1 {
    background-image: url('../imagens/aurora-pes.jpeg');
    animation: slideCycle 21s infinite 0s;
}

.slide-img-2 {
    background-image: url('../imagens/aurora-pensamento.jpeg');
    animation: slideCycle 21s infinite 7s;
}

.slide-img-3 {
    background-image: url('../imagens/aurora-prateleira.jpeg');
    animation: slideCycle 21s infinite 14s;
}

@keyframes slideCycle {
    0% {
        opacity: 0;
        z-index: 0;
    }
    5% {
        opacity: 1;
        z-index: 10;
    }
    33% {
        opacity: 1;
        z-index: 10;
    }
    38% {
        opacity: 0;
        z-index: 0;
    }
    100% {
        opacity: 0;
        z-index: 0;
    }
}

.info {
    background-color: var(--card-bg);
    width: 100%;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

.info .foto {
    width: 300px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border:5px solid var(--card-bg);
    outline:5px solid var(--primary-color) ;
}

.info h2 {
    color: var(--text-secondary);
    font-size: 1.7em;
    font-variant: small-caps;
}

.info p {
    text-align: center;
}

.info a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 10px 20px;
    font-weight: bold;
    font-variant: small-caps;   
    transition: background-color .3s, color .3s; 
}

.info a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.principal {
    margin: 20px auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

.post h2 {
    color: var(--text-secondary);
    margin-bottom: .8em;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary-color);
    font-variant: small-caps;
}

.post-figure {
    margin: 0;
    margin-bottom: 1.5em;
}

.post-figure img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.post-figure figcaption {
    background-color: var(--accent-bg);
    color: var(--text-inverse);
    padding: 5px 15px;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    border-radius: 0px 0px 8px 8px;
    border-top: 3px solid var(--primary-color);
}

.post p {
    text-align: justify;
    margin-bottom: 1.5em;
}

.merch {
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: var(--card-bg);
    padding: 20px;
    gap: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0, .3);
}

.product {
    display: grid;
    grid-template-rows: 70px auto auto 40px;
    align-items: center;
    justify-items: start;
    gap: 10px;
}

.product h3 {
    color: var(--text-secondary);
    border-bottom: 2px solid var(--primary-color);
    font-variant: small-caps;
    padding-bottom: 10px;
}

.product img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    object-position: center center;
    border-radius: 8px;
}

.product a {
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 8px 15px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    transition: background-color .3s, color .3s; 
}

.product a:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.newsletter {
    background-color: var(--card-bg);
    padding: 30px;
    width: 100%;
}

.newsletter h2 {
    color: var(--text-secondary);
    border-bottom: 2px solid var(--primary-color);
    font-variant: small-caps;
    padding-bottom: 10px;
    margin-bottom: 1em;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1em;
}

.input {
    background-color: var(--accent-bg);
    border: 2px solid var(--accent-bg);
    width: 100%;
    height: 40px;
    border-radius: 8px;
}

.input input {
    background-color: white;
    font-size: 1em;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
}

.submit-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.submit-container input[type=submit] {
    cursor: pointer;
    font-size: 1em;
    font-variant: small-caps;
    font-weight: bold;
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    margin-bottom: .3em;
    transition: background-color .3s, color .3s;
}

.submit-container input[type=submit]:hover {
    background-color: var(--primary-hover);
    color: var(--text-inverse);
}

.newsletter p {
    text-align: center;
    font-size: 0.6em;
    line-height: 1em;
    color: gray;
}

.footer-container {
    background-color: var(--text-primary);
    color: var(--text-inverse);
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 50px;
}

.footer-container h4 {
    margin-bottom: .8em;
}

.footer-container ul {
    list-style: none;
}

.footer-container a {
    text-decoration: none;
    color: var(--text-inverse);
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-aurora {
    padding-left: 10px;
    border-left: 1px solid var(--text-inverse);
}
.footer-merch {
    padding-left: 10px;
    border-left: 1px solid var(--text-inverse);
}

.footer-social ul {
    display: flex;
    gap: 5px;
    font-size: 2em;
}

.copyright {
    background-color: var(--primary-color);
    color: var(--text-inverse);
    font-size: .8em;
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: var(--text-inverse);
    font-weight: bold;
}

.copyright a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    header {
        align-items: stretch;
    }
    
    .menu-checkbox, .menu-icon {
        display: none;
    }

    .logo {
        font-size: 2.7em;
    }

    .menu ul {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
        background-color: transparent;
        padding-bottom: 0px;
        border: none;
        height: 100%;
    }

    .menu li {
        width: auto;
        height: 100%;
    }

    .menu a {
        padding: 0px 15px;
        padding-top: 6px;
        border-bottom: 5px solid transparent;
        display: flex;
        align-items: center;
        font-size: 1.2em;
    }

    .menu a:hover {
        border-bottom: 5px solid var(--text-secondary);
    }

    .banner-slider {
        height: 85vh;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: start;
        align-items: center;
        column-gap: 50px;
        padding: 60px 10%;
    }

    .info .foto {
        grid-column: 2;
        grid-row: 1 / span 3;
        border-radius: 8px;
    }

    .info h2 {
        grid-column: 1;
        justify-self: right;
        border-bottom: 2px solid var(--primary-color);
        padding: 10px;
    }

    .info p, a {
        max-width: 300px;
        grid-column: 1;
        justify-self: end;
        padding: 10px;
        text-align: right;
    }

    .principal {
        display: grid;
        grid-template-columns: 1fr 300px;
    }

    .post {
        grid-column: 1;
    }

    .post p {
        width: 75%;
        margin: auto;
    }

    #artigo-3 {
        grid-column: 1 / -1;
    }

    .post-figure img {
        aspect-ratio: 16 / 9;
        width: 60%;
        margin: auto;
    }

    .post-figure figcaption {
        width: 60%;
        margin: auto;
    }

    .merch {
        grid-column: 2;
        grid-row: 1 / 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .newsletter {
        padding: 60px;
    }

    .footer-container {
        display: grid;
        padding: 60px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        gap: 0px;
        justify-items: center;
    }

    .footer-aurora {
        grid-column: 1;
        grid-row: 1;
    }

    .footer-merch {
        grid-column: 2;
        grid-row: 1;
    }

    .footer-social {
        grid-column: 1 / -1;
        grid-row: 2;
    }
}